@import "./colors.scss";

/* 
Unsets everything so you can style everything from scratch
*/
* {
   all: unset; 
}

/*
.workspace_inactive, .workspace_active, .workspace_focused, .workspace_current {
*/

.workspace {
    padding: 0px;
    border-radius: 100%;
    min-height: 20px;
    min-width: 20px;
}

.workspace_inactive {
    background-color: inherit;
    color: inherit;
}

.workspace_active {
    color: $base00;
    background-color: $base03;
}

.workspace_focused {
    color: $base00;
    background-color: $base05;
}

.workspace_current {
    color: $base00;
    background-color: $base07;
}


.bar {
  background-color: $base00;
  color: $base07;
  padding: 3px;
}


.container {
    background-color: $base02;
    color: $base07;
    padding: 0px 5px;
    border-radius: 5px;
}
