/* 
Unsets everything so you can style everything from scratch
*/
* {
   all: unset; 
}

/*
.workspace_inactive, .workspace_active, .workspace_focused, .workspace_current {
*/

.workspace {
    padding: 0px;
    border-radius: 100%;
    min-height: 20px;
    min-width: 20px;
}

.workspace_inactive {
    background-color: inherit;
    color: inherit;
}

.workspace_active {
    color: #000000;
    background-color: #666666;
}

.workspace_focused {
    color: #000000;
    background-color: #aaaaaa;
}

.workspace_current {
    color: #000000;
    background-color: #ffffff;
}


.bar {
  background-color: #3a3a3a;
  color: #b0b4bc;
  padding: 3px;
}


.container {
    background-color: #cccccc;
    color: #000000;
    padding: 0px 5px;
    border-radius: 5px;
}
