/*----------------- TABS ------------------*/

/* reducing minimum tab width */
.tabbrowser-tab:not([pinned]){
  min-width: var(35px) !important;
}

/* fix tab colors */
.tabbrowser-tab:hover .tab-content {
    background-color: color-mix(in srgb, var(--base00), var(--base02)) !important;
    /* opacity: 0.5; */
    border-radius: 4px !important;

    /* set top/bottom margin */
    margin: 4px 0 !important;
}

.tabbrowser-tab[selected] .tab-content {
    background-color: var(--base02) !important;
    border-radius: 4px !important;

    /* set top/bottom margin */
    margin: 4px 0 !important;
}
