/*----------------- TABS ------------------*/

/* reducing minimum tab width */
.tabbrowser-tab:not([pinned]){
  min-width: var(35px) !important;
}

/* fix tab colors */
.tabbrowser-tab:hover .tab-content {
    background-color: color-mix(in srgb, var(--base00), var(--base02)) !important;
    /* opacity: 0.5; */
    border-radius: 4px !important;

    /* set top/bottom margin */
    margin: 4px 0 !important;
}

.tabbrowser-tab[selected] .tab-content {
    background-color: var(--base02) !important;
    border-radius: 4px !important;

    /* set top/bottom margin */
    margin: 4px 0 !important;
}



/*
the following is based on
https://github.com/GideonWolfe/nix/blob/main/configs/users/gideon/configs/firefox/firefox.nix
*/

/*------------- STATUS PANEL ------------------*/


/* color of url loading bar at bottom left */
#statuspanel-label {
    background-color: var(--base00) !important;
    /* color: var(--base0E) !important; */
    border-color: var(--base07) !important;
}

/* Change background color for both private and non-private windows */
@-moz-document url("chrome://browser/content/browser.xhtml") {
    /* Non-private window background color */
    #appcontent, #appcontent tabpanels, browser[type="content-primary"], browser[type="content"] > html, browser[type="content"] > html > body {
        background-color: var(--base00) !important;
  }
}


/* Hover tooltip style, only themes some ie. refresh button*/
/* for some reason this doesn't work for the top lvl stuff */
tooltip {
    -moz-appearance: none !important;
    appearance: none !important;
    background-color: var(--base01) !important;
    color: var(--base05) !important;
    border: 1px solid var(--base02) !important;
    border-radius: 4px !important;
}

/*--------------- TOOLBAR ----------------*/

/* Changes color of toolbar */
#navigator-toolbox{ --toolbar-bgcolor: var(--base02) }

/* List all tabs dropdown button */
#alltabs-button { color: var(--base07) !important; }

/* Shield icon */
#tracking-protection-icon-box {
    color: var(--base07) !important;
}
#urlbar-input-container[pageproxystate="valid"] #tracking-protection-icon-box:not([hasException])[active] > #tracking-protection-icon{
    color: var(--base07) !important;
}

/* Back button coloring color */
#back-button:not([disabled="true"]):not([open="true"]):not(:active) .toolbarbutton-icon {
    color: var(--base07) !important;
}

/* Back button coloring */
#forward-button{
    color: var(--base07) !important;
}

/* Refresh button coloring */
#reload-button{
    color: var(--base07) !important;
}

/* Cancel Loading button coloring */
#stop-button{
    color: var(--base07) !important;
}

/* Downloads button coloring */
#downloads-button{
    color: var(--base07) !important;
}
/* example of setting image as icon https://www.reddit.com/r/FirefoxCSS/comments/cy8w4d/new_tab_button_customization/ */
/* New Tab Buttons */
/* the weirdness of these buttons https://www.reddit.com/r/FirefoxCSS/comments/12mjsk1/change_color_of_add_new_tab_button/ */
:is(#new-tab-button, #tabs-newtab-button) > .toolbarbutton-icon {
    color: var(--base07) !important;
}
:is(#new-tab-button, #tabs-newtab-button):hover > .toolbarbutton-icon {
    color: var(--base07) !important;
}

/* Hamburger Menu icon in toolbar */
#PanelUI-menu-button {
    color: var(--base07) !important;
}
/* Extensions icon in toolbar */
#unified-extensions-button{
    color: var(--base07) !important;
}

/* Disable favorite star button */
#star-button-box { display:none !important; }

/* Reader view icon */
#reader-mode-button-icon { color: var(--base07) !important }
#reader-mode-button[readeractive] > .urlbar-icon {
    color: var(--base07) !important
}



/*------------- Findbar ---------------*/
.findbar {
    background-color: var(--base00);
    -moz-appearance: none !important;
    appearance: none !important;
}
.findbar-container {
    background-color: var(--base00);
}


/* Search box when no results found */
.findbar-textbox[status="notfound"] {
  background-color: var(--base00) !important;
  color: var(--base08) !important;
}

/* Arrow buttons when no search entered */
.findbar-find-previous[disabled="true"] > .toolbarbutton-icon,
.findbar-find-next[disabled="true"] > .toolbarbutton-icon {
    fill: var(--base07) !important;
}
/* Arrows when results found */
.findbar-find-previous {
    fill: var(--base07) !important;
}
.findbar-find-next {
    fill: var(--base07) !important;
}

/* Close Icon */
findbar > .close-icon{
    background-color: var(--base00) !important;
    pointer-events: auto;
}
.close-icon.findbar-closebutton {
  fill: var(--base08) !important;
}

/* Color of "Phrase not Found" */
.findbar-find-status{
    color: var(--base08);
}


/*------------- SITE SECURITY ICON --------*/

/* Green */
#identity-box[pageproxystate="valid"].verifiedDomain #identity-icon {
    fill: var(--base07) !important;
    fill-opacity: 1 !important;
    transition: 100ms linear !important;
}
#identity-box[pageproxystate="valid"].mixedActiveBlocked #identity-icon {
    fill: var(--base07) !important;
    fill-opacity: 1 !important;
    transition: 100ms linear !important;
}
#identity-box[pageproxystate="valid"].verifiedIdentity #identity-icon {
    fill: var(--base07) !important;
    fill-opacity: 1 !important;
    transition: 100ms linear !important;
}
#identity-popup[connection^="secure"] .identity-popup-security-connection {
    fill: var(--base07) !important;
}

/* Red */
#identity-box[pageproxystate="valid"].notSecure #identity-icon {
    fill: var(--base08) !important;
    fill-opacity: 1 !important;
    transition: 100ms linear !important;
}
#identity-box[pageproxystate="valid"].mixedActiveContent #identity-icon {
    fill: var(--base08) !important;
    fill-opacity: 1 !important;
    transition: 100ms linear !important;
}
#identity-box[pageproxystate="valid"].insecureLoginForms #identity-icon {
    fill: var(--base08) !important;
    fill-opacity: 1 !important;
    transition: 100ms linear !important;
}
.identity-popup-security-connection {
    fill: var(--base08);
}

/* Orange */
#identity-box[pageproxystate="valid"].mixedDisplayContent #identity-icon {
    fill: var(--base0A) !important;
    fill-opacity: 1 !important;
    transition: 100ms linear !important;
}
#identity-popup[mixedcontent~="passive-loaded"][isbroken] .identity-popup-security-connection {
    fill: var(--base0A) !important;
}

/* Yellow */
#identity-box[pageproxystate="valid"].mixedDisplayContentLoadedActiveBlocked #identity-icon {
    fill: var(--base0A) !important;
    fill-opacity: 1 !important;
    transition: 100ms linear !important;
}
#identity-box[pageproxystate="valid"].certUserOverridden #identity-icon {
    fill: var(--base0A) !important;
    fill-opacity: 1 !important;
    transition: 100ms linear !important;
}

/*-----------------------------------------*/

/*------------- CONTEXT MENUS  --------*/

/* TODO Star doesn't work?*/
#context-back {
    color: var(--base07) !important;
}
#context-forward {
    color: var(--base07) !important;
}
#context-reload {
    color: var(--base07) !important;
}
#context-stop {
    color: var(--base07) !important;
}
#context-star {
    color: var(--base07) !important;
}

/*-----------------------------------------*/

/* TODO this should style reader? idk if the reader pages start with about:reader*/
@-moz-document url-prefix("about:reader") {
  body.dark {
    color: var(--base05) !important;
    background-color: var(--base00) !important;
  }
  body.light {
    color: var(--base00) !important;
    background-color: var(--base05)!important;
  }
  body.sepia {
    /* color: var(--base0D) !important; */
    background-color: var(--base00) !important;
  }

  body.serif {
    font-family: serif !important;
  }
  body.sans-serif {
    font-family: sans-serif !important;
  }
}


/*-------------- TODO ----------------------*/
/* Close window button *\
