* {
   all: unset; //Unsets everything so you can style everything from scratch
}


// some vars
$primary: #ffffff;
$secondary: #;
$tetrary: #b0b4bc;
$bg: #3a3a3a;


//Global Styles
.bar {
  background-color: #3a3a3a;
  color: #b0b4bc;
  padding: 5px 10px 5px 10px;
}

// Styles on classes (see eww.yuck for more information)


// workspaces
/* 
.workspaces {
    font-size: 27px;
    font-weight: normal;
    margin: 5px 0px 0px 20px;
    background-color: #000000; // #0f0f17;
}
*/

.workspace_inactive, .workspace_active, .workspace_focused, .workspace_current {
    // padding: 0px 5px 0px 5px;
    
    // font-size: 14px;
    // font-weight: bold;

    // margin: 5px 0px 0px 20px;
    // color: white;
    padding: 0px;
    border-radius: 100%;
    min-height: 20px;
    min-width: 20px;
    // max-wodth: 50px;
    
}

.workspace_inactive {
    // background-color: #ffffff;
    // color: #ffffff;
}

.workspace_active {
    color: #000000;
    background-color: #666666;
}

.workspace_focused {
    color: #000000;
    background-color: #aaaaaa;
}

.workspace_current {
    color: #000000;
    background-color: #ffffff;
}


.sidestuff slider {
  all: unset;
  color: #ffd5cd;
}

.metric scale trough highlight {
  all: unset;
  background-color: #D35D6E;
  color: #000000;
  border-radius: 10px;
}
.metric scale trough {
  all: unset;
  background-color: #4e4e4e;
  border-radius: 50px;
  min-height: 3px;
  min-width: 50px;
  margin-left: 10px;
  margin-right: 20px;
}
.metric scale trough highlight {
  all: unset;
  background-color: #D35D6E;
  color: #000000;
  border-radius: 10px;
}
.metric scale trough {
  all: unset;
  background-color: #4e4e4e;
  border-radius: 50px;
  min-height: 3px;
  min-width: 50px;
  margin-left: 10px;
  margin-right: 20px;
}
.label-ram {
  font-size: large;
}
