@import "./colors";

/* 
Unsets everything so you can style everything from scratch
*/
* {
   all: unset; 
}

.workspace {
    padding: 0px;
    border-radius: 100%;
    min-height: 20px;
    min-width: 20px;
}

.workspace_inactive {
    background-color: inherit;
    color: inherit;
}

.workspace_active {
    color: $base00;
    background-color:  mix($base03, $base04, 75%);
}

.workspace_focused {
    color: $base00;
    background-color: $base04;
}

.workspace_current {
    color: $base00;
    background-color: $base07;
}


.bar {
  background-color: $base01;
  color: mix($base04, $base05);
  padding: 3px;
}


.battery-low {
  color: #ff0000;
}


.container {
     /* background-color: mix($base02, $base03, 75%); */
    /*
    background-color: $base02;
    color: mix($base04, $base05);
    */

    background-color: $base05;
    color: $base00;
    padding: 0px 5px;
    border-radius: 5px;
}
